layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:@zjstatus_path@" {
        format_left  "{mode} #[fg=#91d7e3,bold]{session} {tabs}"
        format_right "{datetime}"

        mode_normal "#[bg=#24273a,fg=#cad3f5] {name} "

        tab_normal "#[fg=#6C7086] {name} "
        tab_active "#[fg=#cad3f5,bold] {name} "

        datetime          "#[fg=#6C7086,bold] {format} "
        datetime_format   "%A, %d %b %Y %H:%M"
        datetime_timezone "Europe/Berlin"
      }
    }
  }
}