[Desktop Entry]
Name=Open in VS Code
Type=Service
Actions=openInVSCode
MimeType=inode/directory
X-KDE-Priority=TopLevel

 [Desktop Action openInVSCode]
 Name=Open in VS Code
 Name[de]=Öffne mit VS Code
 Icon=com.visualstudio.code
 Exec=code %u

